*.key
*.bin
CA/keys/
OBU/keys/
RSU/keys/
CA/cert/
OBU/cert/

*.json
*.jsonl
OBU/json/
rsu_traffic.jsonl

.env

__pycache__/
*.py[cod]
*$py.class
*.pyc

reply.txt
*.log

.DS_Store
Thumbs.db

venv/
.venv/